body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

.top-section {
    background-image: url(donate-today-main/images/donation3.jpg);
    background-size: cover;
    text-align: center;
    padding: 500px 300px 300px 300px;
    color: white;
    text-shadow: 2px 2px rgb(41, 46, 52);
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: white;
}

.button-class {
    padding: 10px 30px;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    border: 0;
    text-shadow: 1px 1px rgb(45, 43, 43);
    margin-top: 20px;
}

.donation-amount {
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 100px;
}

#amount-id {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

.amount-class {
    padding: 30px 30px;
    margin-left: 2%;
    font-size: 25px;
    border-radius: 5px;
    border: 0;
}

#selected-button {
    background-color: rgba(255, 89, 89, 0.278);
    border: 2px solid tomato;
}

input {
    border: none;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

#donation-packages {
    display: flex;
    margin-top: 70px;

}

#package1 {
    background-color: rgba(79, 157, 166, 0.103);
}

#package2 {
    background-color: rgba(255, 89, 89, 0.103);
}

#package3 {
    background-color: rgba(255, 244, 214, 0.847);
}

.single-package {
    text-align: left;
    margin-left: 2%;
    padding: 2% 5%;
    border-radius: 10px;
}

footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 100px;
}